.UserList {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.UserListContainer {
  display: flex;
  justify-content: center;
}

.tableContainer {
  width: 95%;
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

.userTable {
  max-width: 100%; /* Establece un ancho máximo para la tabla */
  margin: 0 auto; /* Centra horizontalmente la tabla */
  border-collapse: collapse;
  width: 100%; /* Agrega este estilo para asegurarte de que ocupe el ancho de su contenedor */
  margin-bottom: 20px;
}

.userTable th,
.userTable td {
  border: 1px solid black; /* Añade un borde de 1px sólido negro a las celdas */
  padding: 8px; /* Agrega un espacio interno para el contenido */ 
  text-align: center; /* Centra el texto en las celdas */
}

